# all ignore
*
*/

# git
!.gitignore
!.gitattributes

# config
!.obsidian/
!.obsidian/**
!.vscode/
!.vscode/**

# config directory
!🪨Obsidian/
!🪨Obsidian/**

# ignore assets
🪨Obsidian/assets

# daily note ()
!🗓️Daily/
!🗓️Daily/🗓️Daily.md

# public
!📂Public/
!📂Public/**

# deny list
.obsidian/workspace
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/cache
.obsidian/plugins/recent-files-obsidian/data.json
.obsidian/plugins/obsidian-livesync/main.js
.obsidian/plugins/obsidian-livesync/manifest.json
.obsidian/plugins/obsidian-livesync/styles.css
